
footer {
    background-color: #552C65;
    color: #fff;
    padding: 60px;
    text-align: center;
}
footer a {
    color: #adacac;
}
footer a:hover {
    color: #fff;
}

.footer__links {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    row-gap: 32px;
    margin-bottom: 32px;
}
