footer {
    background-color: #421EAA;
    color: #fff;
    padding: 60px;
    text-align: center;
}
footer a {
    color: #ccc;
}
footer a:hover {
    color: #fff;
}

.footer__links {
    display: flex;  
    justify-content: center;
    column-gap: 16px;
    margin-bottom: 32px;
}

@media screen and (max-width: 480px) {
    .footer__links {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
}