footer {
    background-color: #af2b03;
    color: #fff;
    padding: 60px;
    text-align: center;
}
footer a {
    color: #adacac;
}
footer a:hover {
    color: #fff;
}

.footerLinks {
    display: flex;  
    justify-content: center;
    column-gap: 16px;
    margin-bottom: 32px;
}