#content::after {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
}


#infos {
    background-color: #0c3a19;
}

.infos__container {
    padding: 80px 0;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    column-gap: 32px;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    color: #fff;
}
.infos__container p {
    margin-top: 16px;
    font-size: 18px;
    line-height: 24px;
}

#accordion {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    margin-top: 80px;
    margin-bottom: 160px;
}

#accordion h2 {
    text-align: center;
    color: #0c3a19;;
    font-size: 26px;
    margin-bottom: 32px;
}
.accordion__item {
    margin-bottom: 16px;
}
.accordion__header {
    display: flex;
    align-items: center;
    position: relative;
}

.accordion__item button{
    width: 100%;
    color: #0c3a19;
    font-weight: bold;
    text-align: start;
    padding: 12px;
    font-size: 22px;
}

.accordion__item img {
    position: absolute;
    width: 24px;
    right: 12px;
    cursor: pointer;
}

.accordion__text {
    display: none;
    font-size: 18px;
    padding: 16px;
    line-height: 26px;
    border: 1px solid #000;
}
.accordion__text p {
    margin-bottom: 16px;
}
.accordion__text.is--open {
    display: block; 
}
.close__accordion {
    display: none;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
    transform: translateX(-100px);
}
.show {
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
    transform: translateX(0);
}

.accordion__container :nth-child(2) {
    transition-delay: 300ms;
}
.accordion__container :nth-child(3) {
    transition-delay: 500ms;
}
.accordion__container :nth-child(4) {
    transition-delay: 700ms;
}
.accordion__container :nth-child(5) {
    transition-delay: 900ms;
}
